<div class="main-container"><!-- MAIN Cointainer -->
  <form [formGroup]="form"><!-- link al formGroup -->
    <mat-form-field appearance="fill">
      <mat-label>Seleziona un colore</mat-label>
      <mat-select formControlName="color">
        <mat-option *ngFor="let color of availableColors" [value]="color">
          {{color.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-mini-fab color="warn" (click)="addColor()"><!-- al click del bottone richiamo il metodo addColor() -->
      <mat-icon>add</mat-icon>
    </button>
  </form>

  <mat-divider></mat-divider>
  <div *ngFor="let color of colors"><!-- ciclo l'array colors -->
    <app-card [color]="color"></app-card><!-- Richiamo il child component CardComponent tante volte quanti sono gli elementi nell'array colors -->
  </div>
</div>
